@use "./variables" as var;

@keyframes tremble {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@mixin structExampMix($width, $bgCol, $titleBgCol, $titleSize) {
  display: grid;
  width: $width;
  margin: var.$spacing-gap;
  height: calc($width / 1.5);
  grid-template-rows: 3fr 1fr;
  background-color: $bgCol;
  border-radius: calc($width / 12);
  transition-duration: var.$transition-medium;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 0 5rem $titleBgCol;
  }

  .imgBlock {
    display: grid;
    img {
      justify-self: center;
      align-self: center;
      background-color: var.$whiteActiveColor;
      width: 90%;
      height: 90%;
      border-radius: calc($width / 15);
    }
  }

  .textBlock {
    display: grid;
    align-items: center;
    background-color: $titleBgCol;
    border-bottom: {
      left-radius: calc($width / 12);
      right-radius: calc($width / 12);
    }

    p {
      margin: 0;
      font-size: $titleSize;
      text-align: center;
      color: white;
    }
  }
}

.structExampA,
.structExampA-active {
  @include structExampMix(
    20vw,
    var.$lightMainColor,
    var.$mainColor,
    var.$font-block
  );
}

.structExampA {
  &:hover {
    animation-name: tremble;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
}

.structExampA-active {
  box-shadow: 0 0 3rem var.$mainColor;
  border: 3px solid white;
}
